.productionTitle {
    font-family: 'Josefin Slab';
    font-size: 50px;
}

.addArtistTitle {
    font-family: 'Josefin Slab';
    font-size: 30px;
    color: #191970;
}

.addedArtistsTitle {
    font-family: 'Josefin Slab';
    font-size: 30px;
    color: #191970;
}

.addContentTitle {
    font-family: 'Josefin Slab';
    font-size: 30px;
    color: #191970;
}

.artistFormBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.artistTableBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.rehearsalContentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}